#############################################################
# Block users by IP address:                                #
#############################################################
#-#
Order allow,deny
Allow from all
#-#